body{background-color: cornsilk;}

Header { color: black; 
 font-family: 'Arial', sans-serif;
 text-align: center;
margin-top: 30px;
}

p {font-size: 25px;
 margin-left: 100px;
 margin-right: 100px ;
}

.title {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif; }
 .Sub {
        color: purple;
        font-size: 40px; 
    }
.Sarah1 {color: blue;
font-size: 40px;
font-family: Georgia, 'Times New Roman', Times, serif;
margin-top: 100px;
margin-left: 250px;
}
.Sarah {color: blue;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 100px;
    margin-left: 250px;
}
.Giampietro1 {
    color: purple;
    font-size: 40px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
margin-left: 1200px;
margin-right: 250px;
}
  

.Giampietro {
    color: purple;
    font-size: 40px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 1200px;
     margin-right: 250px;
}

.Name {
    color: black;
    font-size: 20px; 
}
.date {
    color: black;
    font-size: 20px; 
}

.ps {
    font-size: 20px;
    color:blue; 
    font-family: Georgia, 'Times New Roman', Times, serif;
        margin-right: 1200px;
        margin-left: 250px;
}
.rg {
    font-size: 20px;
    color: purple;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 1200px;
     margin-right: 250px;
}

footer {
    font-size: 15px;
    color: grey;
    margin-bottom: 15px;
}

/* A link that hasn’t been visited. */
a:link { color: black; }

/* After you’ve visited the link. */
a:visited { color: purple; }

/* Change the color when the mouse is over it. */
a:hover { color: blue; }

/* And when the mouse is clicked. */
a:active { color: hotpink; }